1. Up Sampling
2. Down Sampling

In [2]:
import numpy as np 
import pandas as pd

In [3]:
np.random.seed(123)
n_samples=1000
class_0_ratio=0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [ ]:
## CREATE DATAFRAME WITH UMBLANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0, #Majority
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1, #Minority
})

In the context of the np.random.normal() function:

**loc** represents the mean of the normal distribution. 

**scale** represents the standard deviation (sd) of the normal distribution.

In [8]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df.tail()

     feature_1  feature_2  target
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

In [11]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## UP SAMPLING

In [ ]:
## UP SAMPLING 
df_minority = df[df['target'] ==1]  #Minority
df_majority = df[df['target'] ==0]  #Majority

In [ ]:
from sklearn.utils import resample
#resample function: This function from sklearn.utils can be used to either upsample or downsample data.

df_minority_upsampled=resample(df_minority,replace=True, #sample With replacement 
         n_samples=len(df_majority),
         random_state=42
         )

replace=True: Sampling with replacement, meaning the same data points can be selected multiple times to reach the target sample size.

In [16]:
df_minority_upsampled.shape

(900, 3)

In [17]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

In [21]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [22]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## DOWN SAMPLING

In [24]:
np.random.seed(123)
n_samples=1000
class_0_ratio=0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

## CREATE DATAFRAME WITH UMBLANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0,
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1,
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [26]:
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [27]:
## DOWN SAMPLING 
df_minority = df[df['target'] ==1] 
df_majority = df[df['target'] ==0]

In [ ]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, #sampling without replacement 
         n_samples=len(df_minority),
         random_state=42
         )

Why replace=False in Downsampling
Reduce the Majority Class Without Duplication: When downsampling, youâ€™re selecting a subset of the majority class to make it smaller, so each sample should be unique. If you used replace=True, you could end up with duplicates within the downsampled majority class, which wouldn't help in reducing the actual class imbalance.

In [31]:
df_majority_downsampled.shape

(100, 3)

In [32]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [34]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64